<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="reclamation_menu_root"
              name="Complaints"
              sequence="10"
              web_icon="reclamation_client,static/description/icon.png"/>

    <menuitem id="reclamation_menu_all"
              name="All Complaints"
              parent="reclamation_menu_root"
              action="reclamation_action_all"
              sequence="10"/>

    <menuitem id="reclamation_menu_new"
              name="New Complaint"
              parent="reclamation_menu_root"
              action="reclamation_action_new"
              sequence="20"/>

    <menuitem id="reclamation_menu_dashboard"
              name="Dashboard"
              parent="reclamation_menu_root"
              action="reclamation_action_dashboard"
              sequence="30"/>

</odoo>
